body {
    display: flex; /*flexbox uhu*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #79659e, #837BA6); 
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.tabela {  /*tabela*/
    display: flex;
    justify-content: center;
    width: 60%; /* ajustar largura se necessário */
    margin: 30px 0; /*margem interna*/
    background-color: rgba(178, 179, 213, 0.2); /*cor de fundo da tabela, para lembrar a página de login*/
    backdrop-filter: blur(20px); /*efeito de desfoque*/
    border-radius: 10px; /*bordas da tabela*/
    padding: 30px;
}

th {
    padding: 20px;
}

th, td {   /*linha e coluna, ~eu acho, esqueci~*/
    border-radius: 10px;
    border-left: 5px solid;
    border-color: #655386;
}

p {
    text-align: center;
    padding: 0 20px;
    margin: 0;
    color: aliceblue;
}

.sign-in {
    border-color: #655386;
    background-color: rgba(168, 169, 201, 0.2);
    color: white;
}

.sign-in:hover{
    background-color: #655386;
    color: white;
    transition: 0.3s ease-in-out;
}
/*botão*/
#continuar {
    display: none; /* a primore escondido */
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(168, 169, 201, 0.2); /*#655386 #73BD72*/
    color: white;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    bottom: -50px;
}

#continuar:hover {
    background-color: #655386;
    color: white;
    transition: 0.3s ease-in;
}

/*frases que aparecem no começo*/
#frase {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    color: rgb(35, 34, 34);
}

#autor {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(80, 80, 80);
    font-size: 18px;
    padding-top: 20px;
}

/*estrelas do fundo do site*/
.star{
    position: fixed;
    width: 1px;
    height: 1px;
    background-color: white;
}